{% load i18n %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div id="konfiguration-modal" class="custom-modal22">
  <div class="custom-modal-content"> 
    <div class="modal-header">
      <i class="bi bi-gear-fill"></i>
      <h1 class="modal-title">{% translate "Spiel konfigurieren" %}</h1>
    </div>
    <p class="modal-desc">
     {% translate "Gebe die Einstellungen für deine Simulation ein:" %}
    </p>
    <form method="post"> 
      {% csrf_token %}
      <div class="modal-row6">
        <div class="wrap-rounds-number">
          <i class="bi bi-clock-fill"></i>   
          <label class="option-label5">{% translate "Rundenanzahl:" %}</label>
        </div>
        <select id= "dynamicSelect0" name="game_rounds_number" class="modal-select">
          <option value="">{% translate "wählen" %}</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div> 
    <!--  Zweite Zeile--> 
      <div class="wrap-second-row"> 
        <div class="modal-row6">
          <div class="wrap-cross-side">
            <i class = "bi bi-basket-fill"></i>
            <label class="option-label5">{% translate "Wechelseitige Effekts:" %}</label>
          </div>
          <select id="dynamicSelect" onchange="adjustWidth(this)"name="cross_side" class="modal-select">
            <option value="">{% translate "wählen" %}</option>
            <option value="option_1">Option 1</option>
            <option value="option_2">Option 2</option>
            <option value="option_3">Option 3</option>
          </select>
        </div>
        <div class="tooltip-wrapper">
          <i id ="icon23" class="bi bi-exclamation-circle info-icon23" onclick="toggleTooltip()"></i>
          <div class= "tooltip-container">
            <div class="tooltip-arrow"></div>
            <div id="tooltip-text" class="tooltip-text">
             {% blocktranslate %} <strong> Wechselseitiger Effekt:</strong><br>
                Die Erklärung dazu findest du auf der Anleitungsseite
                <br>
                <br>
              {% endblocktranslate %}
              {% blocktranslate %}
              <ul>
                <li><b>Option 1:</b> Verkäufer hat starken Einfluss, Käufer weniger.</li>
                <li><b>Option 1:</b> Käufer hat starken Einfluss, Verkäufer weniger.</li>
                <li><b>Option 3:</b> Beide Seiten beeinflussen sich gleich stark.</li>
              </ul>
              {% endblocktranslate %}
            </div>
          </div>       
        </div>
      </div> 
      <button type="submit" class="simulation-start-btn">{% translate "Simulation starten" %}</button>
    </form> 
       {% if error %}
          <br> 
          <div class="error">{% blocktranslate %}{{error}}{% endblocktranslate %}</div> 
       {% endif %} 
  </div> 
</div>
</body>
