<div class="custom-modal21 overlay-drawing">
        <div class="card card-drawing">
            <header class="header2">Unentschieden</header>
            <section>
                <div class="info2">
                    beide Spieler haben den gleichen Gesamtumsatz erzielt
                </div>            
                <div class = "sale draw-sale"> 
                    <div> 7322 €</div>
                    <div>Gesamtumsatz</div>
                </div>
            </section>
            <footer>
                <a href="{% url 'welcome' %}">
                    <button class="back draw-btn">
                        Spiel wiederholen
                    </button>
                </a>
            </footer>
        </div>
</div>
 <!--   {{sum_A}}  -->