{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

  <div class="round-wrap">
      <div class="round_header {% if market == 'A' %}header-a{% else %}header-b{% endif %}">{% translate "Runde" %} {{ round }}</div>
    <div class="round-modal {% if market == 'A' %}market-a{% else %}market-b{% endif %}">
        <h2 class="flohmarkt-title">{% translate "Flohmarkt" %} {{ market }}</h2>
      <form class="form-content" method = "post">
        {% csrf_token %}
        <div class="input-row">
          <label for="standmiete" class="round-label">{% translate "Standmiete für Verkäufer" %}</label>
          <input type="number" class="round-input" name="standmiete" id= "standmiete" 
          {% if LANGUAGE_CODE == 'de' %}
             placeholder="max. 200 Euro"
          {% elif LANGUAGE_CODE == 'en' %}
             placeholder="max. 200 euros"
          {% endif %} 
           max="200" />
        </div>
        <div class="input-row">
          <label for="eintritt" class="round-label">{% translate "Eintrittsgebühr für Käufer" %}</label>
          <input type="number" class="round-input" name = "eintritt" id = "eintritt"
          {% if LANGUAGE_CODE == 'de' %}
             placeholder="max. 50 Euro"
          {% elif LANGUAGE_CODE == 'en' %}
             placeholder="max. 50 euros"
          {% endif %} 
          max="50" />
        </div>
        <button type="submit" class="round-btn {% if market == 'A' %}btn-a{% else %}btn-b{% endif %}" name= "submitButton">
          {% if market == "A" %}
           {% translate "weiter zu Flohmarkt B" %}
          {% else %}
           {% translate "weiter zur Berechnung" %}
          {% endif %}
        </button>
      </form>
    </div>
  </div>
</body>