<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

  <div class="round-wrap">
    <div class="round_header">Runde {{ runde }}</div>
    <div class="round-modal">
      <h2 class="flohmarkt-title">Flohmarkt {{ market }}</h2>
      <form class="form-content" method = "post">
        {% csrf_token %}
        <div class="input-row">
          <label for="standmiete" class="runde-label">Standmiete für Verkäufer</label>
          <input type="number" class="runde-input" name="standmiete" id= "standmiete" placeholder="max. 190 Euro" max="190" />
        </div>
        <div class="input-row">
          <label for="eintritt" class="runde-label">Eintrittsgebühr für Käufer</label>
          <input type="number" class="runde-input" name = "eintritt" id = "eintritt" placeholder="max. 40 Euro" max="40" />
        </div>
        <button type="submit" class="runde-btn" name= "submitButton">
          {% if market == "A" %}
            weiter zu Flohmarkt B 
          {% else %}
            weiter zur Berechnung
          {% endif %}
        </button>
      </form>
    </div>
  </div>
</body>