<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="custom-modal21"> 
  <div class="custom-modal-content40">
    <div class="basket">🧺</div> <!--"bi bi-shop"-->
    <h1 class="willkommen-title">Willkommen</h1>
    <h2 class="subtitle">zum Flohmarkt-Simulationsspiel!</h2>
    <p class="info-text">
      Klicke <a href="instructions" class="info-link">hier</a> um zu erfahren,<br>
      wie das Spiel funktioniert.
    </p>
    <a href="{% url 'configuration' %}">
    <button class="spiel-starten-btn">Spiel starten</button>
    </a>
  </div>
</body>