{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Anleitung{{ round_number }}{% endblock %}
{% block content %}
<div class="page-wrap">
{% include "partials/modal_button.html" %}
{% include "partials/explanation_modal.html" %}
</div>
<script src="https://cdn.jsdelivr.net/npm/animejs@4.1.3/lib/anime.iife.min.js"></script>
<script src="{% static 'js/explanation.js' %}"></script> 
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}