
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <style>
    .bi-telephone-fill {
      font-size: 100px;
      color: #C30D1E;
    }
   
  </style>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
 <i class="bi bi-telephone-fill"></i>
  
</body>
