.header2 {
    font-weight: bolder;
    font-size: max(1rem,3cqw);
    font-family: Sans-serif;
    color: #ff9100;   /*#7e5d4a; */
    /* margin-bottom: 1rem; */
}
.info2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 1.8rem;
    font-size: 1.5cqw;
}
Button.draw-btn {
    /* margin-top: 20px; */
    font-size: 2cqw;
    padding: 2cqw 3cqw;
}

.draw-sale {
    width: 50%;
    margin: auto;
    text-align: center;
}
.draw-sale > div:first-child {
    font-size: 1.8rem;
}
.draw-sale > div:nth-child(2) {
    font-size: 1.5rem;
}

.card-drawing {width: var(--modal-width);padding: 4cqw;}

.overlay-drawing {
    width: var(--modal-winner-width);
}
