.header2 {
    font-weight: bolder;
    font-size: max(1rem,6.5cqw);
    font-family: Sans-serif;
    color: #ff9100;   /*#7e5d4a; */
    /* margin-bottom: 1rem; */
}
.info2 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 1.8rem;
    font-size: 3.2cqw;
}
Button.draw-btn {
    /* margin-top: 20px; */
    font-size: 4cqw;
    padding: 4cqw 5cqw;
}

.draw-sale {
    width: 50%;
    margin: auto;
    text-align: center;
}
.draw-sale > div:first-child {
    font-size: 1.8rem;
}
.draw-sale > div:nth-child(2) {
    font-size: 1.1rem;
}

.card-drawing {
width: 50%;
}

.overlay-drawing {
    width: var(--modal-winner-width);
}
