.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > h1, .header > div  {
    font-family: Sans-serif;
    color: #7e5d4a;
    margin-bottom: 0.5rem;
}
button.btn-instruction {
    font-size:  5cqw;
    width: 45cqw;
    padding: clamp(0.5rem, 0.15rem + 2.333vw, 0.938rem) clamp(1.25rem, 0.5rem + 5vw, 2.188rem);
}
