.modal-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.results-row {
  display: flex;
  justify-content: space-around;
  gap: 7rem; 
  margin-bottom: 32px;
}

.market-col1, .market-col2 {
  text-align: left;
  font-size: 1.5rem;
  color: #7a5e48;
}

.market-title {
  color: #ffb800;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 18px;
  font-family: inherit;
}

.next-btn {
  margin-top: 10px;
  font-size: 1.8rem;
  background:  #6e7f4d;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 12px 32px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.2s, transform 0.20s;
}

.next-btn:hover {
  background:#8ba766;
  transform: scale(1.05);
}

.barChart2 {  
   height:800px;
   background-color: #f9edd6;
   padding: 20px;
   border-radius: 20px;
   width: 600px;
   margin-bottom: 50px;
}

#charts-container-id > h2{
text-align: center;
color: #bc4749;
font-family:'Comic Sans MS';
margin-bottom: 1rem;
}