:root {
  --modal-width: clamp(240px, 80vw, 540px);
  --modal-reults-width: clamp(300px, 80vw, 600px);
  --modal-winner-width: clamp(240px, 80vw, 400px);
}
body {
    background-image: url('../images/background.jpg'); 
    background-size: cover;        /* Bild füllt den ganzen Bildschirm */
    background-repeat: no-repeat;  /* Bild wird nicht wiederholt */
    background-position: center;   /* Bild wird zentriert */
    height: 100%;            /* mindestens volle Höhe */
 /*   width: 100%;                  /* volle Breite */
    margin: 0;              
    padding: 0;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}
 .page-wrap {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;         /* Card in der MItte */
  justify-content: flex-start;
  padding-top: 2dvw;
  gap: min(9vw, 60px);
}

* {
    margin: 0px;
}
html {
    margin: 0
}