
.bi-shop{
  color: #F77F00;
  font-size: 5rem;

}
.basket {
  
font-size: clamp(3rem, 1.4rem + 10.667vw, 5rem);
  
display: inline-block;
  
will-change: transform;
}

.custom-modal21{
  width: var(--modal-width);
  margin: 0 auto;
  container-type: inline-size;
  /* display: flex; */
  align-items: center;
  justify-content:center;
  /* min-height: 100dvh; */
}
.custom-modal-content40 {
  box-sizing: border-box;
  /*  transform: scale(1.3); */
  /*  width: clamp(280px, 80vw, 570px); */
  width: 100%;
  background: linear-gradient(135deg, #f7ecd7 80%, #eed9c6 100%);
  border: 2px solid #b6a18b;
  border-radius: 32px;
  /* position: relative; */
  font-family: Arial;
  text-align: center;
  animation-name: boxIn;
  animation-duration: 0.8s;
}

.custom-modal-content40 {
    padding: 6cqw 5cqw;
}

@keyframes boxIn {
  from { opacity: 0; transform: scale(0.5);}
  to { opacity: 1; transform: scale(1);}
}

.willkommen-title {
  /* font-size: clamp(2rem, 10.135cqw, 3.6rem); */
  font-family: 'Fredoka', sans-serif;
  letter-spacing: 2px;
  /* font-size: min(3.6rem, 1.7rem); */
  /* font-size: clamp(2.2rem, 0.848rem + 7.724vw, 3.6rem); */
  color: #609140;
  margin-top: clamp(0.5rem, 0.26rem + 1.6vw, 0.8rem);
  margin-bottom: clamp(0.4rem, -0.03rem + 2.867vw, 0.938rem);
}

h1.willkommen-title {
    font-size: max(1.6rem, 10.5cqw);
}

.subtitle {
  /* white-space: nowrap; */
  font-family: Arial;
  color: #8e6d4f;
  margin-bottom: clamp(0.6rem, -0.52rem + 7.467vw, 2rem);
  /* font-size: max(1rem, 2rem); */
  /* letter-spacing: 0.5px; */
}

h2.subtitle {
 font-size: max(13.512px, 6cqw);
}



.info-text {
  color: #715c3a;
  font-size: 5.1cqw;
  margin-bottom: clamp(1.4rem, 0.12rem + 8.533vw, 3rem)
}

.info-link {
  color: #d36c3b;
  text-decoration: underline;
  font-weight: bold;
}
.info-link:hover {
  color: #fab039;
}

.spiel-starten-btn {
  white-space: nowrap;
  background: #6e7f4d;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.20s;
  font-family: inherit;
  width: 45cqw;
}

button.spiel-starten-btn {
    border-radius: 24px;
}

button.spiel-starten-btn {
    padding: clamp(0.5rem, 0.15rem + 2.333vw, 0.938rem) clamp(1.25rem, 0.5rem + 5vw, 2.188rem);
}

button.spiel-starten-btn {
  font-size: 5cqw
}

.spiel-starten-btn:hover {
  background: #8ba766;
  color: #fffbe8;
  transform: scale(1.05);
}
.spiel-starten-btn:active {
  background: #dda15e;     
  transform: scale(0.92);   
}
