.overlay-winner {
    width: var(--modal-winner-width);
    }

.header-winner > h1, .header-winner > div  {
    font-family: Sans-serif;
    color: #7e5d4a;
    margin-bottom: min(5.5cqw,1rem);
}

.header-winner {
    text-align: center;
}
.trophy {
font-size: 6rem;color: #7e5d4a;}
.bi-trophy {
    font-size: 5rem;
    color: #7e5d4a;
}
.container2{
    padding: 7.5cqw 7cqw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #b6a18b;
    background: #f9edd6;
    border-radius: 32px;
    width: 100%;
    animation-name: modalIn;
    animation-duration: 0.8s;
    box-sizing: border-box;
}
  @keyframes modalIn {
     from { opacity: 0; transform: scale(0.5);}
    to { opacity: 1; transform: scale(1);}
}

.winner-name {
    border: 1px solid;
    text-align: center;
    /* width: 70cqw; */
    margin: auto;
    padding: 3cqw 3.5cqw;
    border-radius: 30px;
    margin-bottom: 18px;
    background-color: #6a994e;
    border: none;
    color:aliceblue;
}
.winner-name > span {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 8cqw;
    margin-left: 0.4rem;
    white-space: nowrap;
}
.total-sales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}
.sale {
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 15px;
    background: white;
    width: 32cqw;
}

.sale > div {
    font-family: sans-serif;
    font-size: 4.8cqw;
}
.sale > div:first-child {
    font-family: sans-serif;
    color: #7e5d4a;
    font-size: 5cqw;
}

.sale > div:nth-child(2) {
    font-size: 6cqw;
    font-family: sans-serif;
    color: #283618;
    font-weight: bolder;
}

.bi-star-fill {
    font-size: 8cqw;
    color: #ffb703;
    margin-left: 0.2rem;
}

button.back {
    padding: 3.8cqw 6cqw;
    border-radius: 24px;
    background-color: #6e7f4d;
    font-size: 6cqw;
    color: white;
    border: none;
    transition: background 0.2s, transform 0.15s;
    cursor: pointer;
    margin-top: 2cqw;
}

button.back:hover {
    background:#8ba766;
    transform: scale(1.05);
}
.button-back:active {
  background: #dda15e;     
  transform: scale(0.92);   
}
